:root {
  --gray40: #212121;
  --gray30: #212429;
  --gray20: #424242;
  --gray10: #616161;
}

html {
  font-size: 16px;
  color: var(--gray40);
  scroll-behavior: smooth;
}

body {
  color: var(--gray40);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  color: var(--gray40);
}

header a {
  color: var(--gray10);
  text-decoration: none;
}
header {
  /* background-color: red; */
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-weight: 400;
  margin: 20px;
}

header a:hover {
  color: var(--gray40);
}
main {
  padding: 10px;
}

h1 {
  font-size: 2.5em;
  color: var(--gray40);
  margin-top: 25px;
  margin-bottom: 16px;
  font-weight: 400;
}
h1 + p {
  margin-bottom: 64px;
}
hr {
  color: var(--gray10);
}
h2 {
  font-size: 2em;
  color: var(--gray40);
}
h3 {
  position: sticky;
  top: 0;
  background-color: white;
}
.section-content h3 {
  font-size: 1.5em;
  color: var(--gray20);
  counter-reset: reset;
  counter-increment: titleList;
  margin-top: 16px;
  margin-top: 40px;
  /* position: relative; */
  padding-bottom: 8px;
}
.section-content h3::after {
  content: "";
  width: 80px;
  margin-top: 4px;
  height: 4px;
  background: var(--gray20);
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.section-content h3::before {
  content: counter(titleList) ".-";
}
.hero {
  height: 100px;
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url(../images/patron-1.png);
}

pre {
  background: #fec62e;
  padding: 40px;
  overflow: auto;
}

.content-dom img {
  max-width: 100%;

  /* object-fit: cover; */
  /* max-height: 100%; */
}

/* margenes */

.section-content h2 {
  margin-top: 64px;
  margin-bottom: 0;
  /* padding-bottom: 0.1px; */
}

.section-content img {
  margin-top: 40px;
}

.section-content p {
  margin-bottom: 0;

  margin-top: 0;
}

blockquote {
  /* margin-left: 0; */
  margin: 32px 0 0 0;
  padding-left: 1em;
  border-left: 4px solid var(--gray40);
}
blockquote p {
  line-height: 2em;
  font-size: 24px;
}
blockquote span {
  color: var(--gray10);
  /* margin-top: 16px; */
}
blockquote p:last-child {
  margin-top: 1em;
}
blockquote span::before {
  content: "-";
}
.section-content + hr {
  display: none;
}

.imagen-css {
  height: 428px;
  /* object-fit: cover; */
}

.section-content:last-child {
  margin-top: 156px;
}
.section-content:last-child h2 {
  margin-top: 0;
  margin-bottom: 40px;
}
.section-content:last-child h4 {
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 28.13px;
  font-size: 24px;
  color: var(--gray20);
}
.section-content:last-child p,
ol li,
ul li {
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--gray20);
}
.section-content:last-child h4 + img {
  margin-top: 0;
  height: 464px;
}
.email {
  margin-top: 72px;
  margin-bottom: 40px;
}

/* wrapper  */

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.menu-content {
  width: 188px;
  position: absolute;
}

.menu {
  position: relative;
}

.menu-content {
  font-size: 14px;

  line-height: 24px;
  font-weight: normal;
  font-weight: 400;
  position: absolute;
  width: 188px;
  right: 20px;
  top: 30px;
}

.menu-content nav ul li {
  list-style: none;
}
.menu-content nav ul li a {
  text-decoration: none;
  padding: 8px;
  display: inline-block;
  width: 100%;
  border-radius: 8px;
}

.menu-content nav ul li a:hover {
  color: white;
  background-color: var(--gray40);
}

/* 
slider
*/

.slider-container {
  /* height: 100px; */
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.video {
  margin: 0;
  /* border: 1px solid blue; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.slider-bullet-list {
  text-align: center;
}

.slider-bullet {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: var(--gray30);
  border-radius: 50%;
}

.slider-bullet:hover {
  background-color: var(--gray20);
}

footer {
  height: 200px;
  background-color: var(--gray40);
}
footer img {
  margin: auto;
  text-align: center;
  display: block;
  padding-top: 48px;
}
.sociales img {
  display: inline;
  margin-right: 22px;
}
.sociales {
  /* border: 1px solid red; */
  text-align: center;
}

/* responsive design */

@media screen and (min-width: 1400px) {
  header a {
    color: var(--gray10);
    text-decoration: none;
  }
  header {
    /* background-color: red; */
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    font-weight: 400;
    position: absolute;
    width: 188px;
    left: -232px;
    top: 140px;
  }

  .header-content {
    position: relative;
  }
  header a:hover {
    color: var(--gray40);
  }
  .header {
    position: sticky;
    top: 0;
  }
}

@media screen and (min-width: 1284px) {
  .hero {
    height: 350px;
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.3),
        transparent
      ),
      url(../images/patron-1.png);
  }
  .menu-content {
    width: 188px;
    position: absolute;
    left: 80px;
  }

  .menu {
    position: relative;
  }

  .menu-content {
    font-size: 14px;

    line-height: 24px;
    font-weight: normal;
    font-weight: 400;
    position: absolute;
    width: 188px;
    left: 50px;
    top: 30px;
  }

  .menu-content nav ul li {
    list-style: none;
  }
  .menu-content nav ul li a {
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    width: 100%;
    border-radius: 8px;
  }

  .menu-content nav ul li a:hover {
    color: white;
    background-color: var(--gray40);
  }
}

@media screen and (min-width: 902px) {
  .video {
    margin: 0;
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .wrapper {
    margin: 0 auto;
    width: 902px;
  }
}

@media screen and (min-width: 690px) {
  .hero-container {
    right: 20px;
  }
  .content-dom img {
    height: 470px;
  }
  h1 {
    font-size: 3.75em;
    color: var(--gray40);
    margin-top: 64px;
    margin-bottom: 16px;
    font-weight: 400;
  }
  h1 + p {
    margin-bottom: 64px;
  }
}
